  @font-face {
      font-family: 'Glacial';
      src: url('../fonts/Glacial-Indifference/GlacialIndifference-Regular.otf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  .card {
      background: white;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgb(136, 109, 109);
      width: 300px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      font-family: 'Glacial', sans-serif;
      color: var(--color-text);
  }

  .card img {
      width: 100%;
      height: 180px;
      object-fit: cover;
  }

  .card-content {
      padding: 15px;
      flex-grow: 1;
  }

  .card-content h2 {
      margin: 0 0 10px;
      font-size: 1.5rem;
  }

  .card-content p {
      font-size: 1rem;
      margin-bottom: 20px;
  }

  .card-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  }

  .cards {
      display: flex;
      justify-content: space-around;
      text-align: center;
      margin-top: 5vh;
  }

  /* RESPONSIVO PARA TELAS PEQUENAS */
@media screen and (max-width:1200px) {
    .cards {
      /* flex-direction: column;
      align-items: center;   */
      display: flex ; 
      flex-wrap: wrap;
    }
  
    .card { 
      margin: 2vh;
    }
   
  
    .card-content h2 {
      font-size: 1.2rem;
    }
  
    .card-content p {
      font-size: 0.95rem;
    }

    #session-002{
        max-height: 100vh;  /* 50% da altura da tela */
        overflow-y: auto;
    }
  }